---
import Layout from '#layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { format } from "date-fns";

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title="Blog | C.Ezra.M">
    <main>
        <h1>C.Ezra.M's blog</h1>

        <h2>Full list of blog entries</h2>
        <ul>
            {posts.map(post => (
                <li><a href={`/blog/${post.id}`}>{post.data.title}</a> — {format(post.data.date, "MMMM d, yyyy")}</li>
            ))}
        </ul>
    </main>
</Layout>