---
import Layout from '../../../layouts/Layout.astro';
import Card from '../../../components/Card.astro';
import YouTubeVid from '../../../components/YouTubeVid.astro';
---

<Layout title="CORE | C.Ezra.M">
    <main>
        <h1>Mutually Unhinged Destruction</h1>
        <h2>Watch the latest episode!</h2>
        <YouTubeVid id="SObWQRaltug"></YouTubeVid>
    </main>
</Layout>

<style>
    /*@import 'core-style.css';*/
</style>