.win-token      { --entry-color: #ABEFABCC; }
.immunity-token { --entry-color: #EFABABCC; }
.revenge-token  { --entry-color: #ABEFEFCC; }
.swap-token     { --entry-color: #ABABEFCC; }
.guess-token    { --entry-color: #EFABEFCC; }
.extra-token    { --entry-color: #EFEFABCC; }
.kamikaze-token { --entry-color: #EFCDABCC; }
.flow-token     { --entry-color: #ABEFCDCC; }
.break-token    { --entry-color: #CDABEFCC; }
.preserve-token { --entry-color: #EFEFEFCC; }
.null-token     { --entry-color: #CDCDCDCC; }
.contrary-token { --entry-color: #ABABABCC; }