---
import Layout from '#layouts/Layout.astro';
import Card from '#components/Card.astro';
import { getCollection } from 'astro:content';
import { format } from "date-fns";

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

---

<Layout title="C.Ezra.M's home page" lang="en">
	<main>
		<h1>C.Ezra.M</h1>
		<img
			src="/ezra.png"
			alt="Ezra"
			width="300"
			height="524"
			class="float-start me-3 mb-3"
		/>
		<p>
			You're on the home page of <dfn>Cody Ezra Marcel</dfn>, the late maturer! Also known as <dfn>C.Ezra.M</dfn> and <dfn lang="tok">jan Esuwa</dfn>.
		</p>
		<p>
			<a href="https://linktr.ee/c.ezra.m">My Linktree!</a>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/pl/pokemon"
				title="Polish Pokémon names"
				body="A list of my own ideas for Polish Pokémon names"
			/>
			<Card
				href="/camps/mud"
				title="Mutually Unhinged Destruction"
				body="An object camp started by C.Ezra.M in 2025, co-hosted by TGiovans and INEI"
			/>
			<!-- <Card
				href="/algotriacontathlon"
				title="Algotriacontathlon"
				body="A competition where 32 colors duke it out in 30 events to see who is truly the best!"
			/>--><!-- <Card
				href="/blog"
				title="C.Ezra.M's blog"
				body="A space for Ezra to write about certain things."
			/> -->
			<Card
				href="/tok"
				title="ijo pi toki pona"
			>toki! mi jan Esuwa!</Card>
		</ul>
		<h2>My blog</h2>
		<p>Here are the five newest entries! Go to the <a href="/blog">blog home</a> to see the full list of entries.</p>
		<ul>
            {posts.slice(0, 5).map(post => (
                <li><a href={`/blog/${post.id}`}>{post.data.title}</a> — {format(post.data.date, "MMMM d, yyyy")} {post.data.updateDate ? (" (last update: " + format(post.data.updateDate, "MMMM d, yyyy") + ")") : ""}</li>
            ))}
        </ul>
		<h2>Other stuff (webrings, badges, etc.)</h2>
		<p><em>Note:</em> some of these badges can be clicked on!</p>
		<iframe id="bucket-webring" style="width: 100%; height: 3rem; border: none;" src="https://webring.bucketfish.me/embed.html?name=C.Ezra.M"></iframe>
		<div class="badges">
			<a href="https://discord.gg/cNu3zpr"><img src="/badge/discord.gif" alt="Discord"></a>
			<img src="/badge/he-him.png" alt="he/him">
			<a href="https://yesterweb.org/no-to-web3/"><img src="/badge/no-web3.gif" alt="Keep the web free, say no to Web3"></a>
			<a href="https://youtube.com/@C.Ezra.M"><img src="/badge/yt.gif" alt="YouTube channel"></a>
			<img src="/badge/construction.png" alt="Under construction">
			<img src="/badge/eyes.gif" alt="Best viewed with eyes">
			<img src="/badge/pokemon.gif" alt="Pokémon">
			<a href="https://github.com/C-Ezra-M"><img src="/badge/github.png" alt="GitHub"></a>
			<img src="/badge/anybrow.gif" alt="best viewed with any browser">
			<a href="https://en.wikipedia.org/wiki/Right_to_repair"><img src="/badge/repair.jpg" alt="I support right to repair"></a>
			<img src="/badge/imissxp.gif" alt="I miss XP!"></a>
		</div>
		<ul>
			<li>
				<a href="https://bsky.app/profile/c-ezra-m.bsky.social">Bluesky profile (couldn't find a badge for this one)</a>
			</li>
		</ul>
	</main>
</Layout>
<style is:global>
	.link-card-grid {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0;
	}
</style>
