---
import Layout from '#layouts/Layout.astro';
import Card from '#components/Card.astro';
import { getCollection } from 'astro:content';
import { format } from "date-format-parse";

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

---

<Layout title="C.Ezra.M's home page">
	<main>
		<h1>C.Ezra.M</h1>
		<img
			src="/ezra.png"
			alt="Ezra"
			width="300"
			height="524"
			class="float-start me-3 mb-3"
		/>
		<p>
			You're on the home page of <dfn>Cody Ezra Marcel</dfn>, the late maturer! Also known as <dfn>C.Ezra.M</dfn> and <dfn lang="tok">jan Esuwa</dfn>.
		</p>
		<p>
			<a href="https://linktr.ee/c.ezra.m">My Linktree!</a>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/pokemon-pl"
				title="Polish Pokémon names"
				body="A list of my own ideas for Polish Pokémon names"
			/>
			<Card
				href="/camps/mud"
				title="Mutually Unhinged Destruction"
				body="An object camp started by C.Ezra.M in 2025, co-hosted by TGiovans and INEI"
			/>
			<!-- <Card
				href="/algotriacontathlon"
				title="Algotriacontathlon"
				body="A competition where 32 colors duke it out in 30 events to see who is truly the best!"
			/>--><!-- <Card
				href="/blog"
				title="C.Ezra.M's blog"
				body="A space for Ezra to write about certain things."
			/> -->
			<Card
				href="/toki-pona"
				title="ijo pi toki pona"
			>toki! mi jan Esuwa!</Card>
		</ul>
		<h2>My blog</h2>
		<p>Here are the five newest entries! Go to the <a href="/blog">blog home</a> to see the full list of entries.</p>
		<ul>
            {posts.slice(0, 5).map(post => (
                <li><a href={`/blog/${post.id}`}>{post.data.title}</a> — {format(post.data.date, "MMMM D, YYYY")}</li>
            ))}
        </ul>
	</main>
</Layout>
<style>
	.link-card-grid {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 0;
	}
</style>
