---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { Image } from 'astro:assets';
import ezraArtwork from '../img/ezra.png';
---

<Layout title="C.Ezra.M's home page">
	<main>
		<h1 class="fs-1">C.Ezra.M</h1>
		<Image
			src={ezraArtwork}
			alt="Ezra"
			width="300"
			inferSize={true}
			style="float: left; padding: 0 0.3rem 0.3rem;"
			loading="eager"
		/>
		<p>
			You're on the home page of <dfn>Cody Ezra Marcel</dfn>, the late maturer!
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/pokemon-pl"
				title="Polish Pokémon names"
				body="A list of my own ideas for Polish Pokémon names"
			/>
		</ul>
	</main>
</Layout>
