---
import { slug } from 'github-slugger'
import { allFootnotes, Footnote, footnote } from './footnotes';
import { Error } from './Error.astro'

interface Props {
    name: string;
    group?: string;
}

const { name, group = "" } = Astro.props;

const slugIdent = slug(name);
footnote(new Footnote({
    slug: slugIdent,

}))
---

<a class="fn-inline" href={"#fn-" + slugIdent}>
    {}
</a>

<style>
    .fn-inline {
        vertical-align: super;
    }
</style>