---
import { slug } from 'github-slugger'
import { footnote } from './footnotes'

interface Props {
    name?: string;
    group?: string;
}

const { name, group } = Astro.props;
const content = await Astro.slots.render('');
const sluggedName = slug(name);
const fn = footnote({
    content: content ? content : null,
    slug: name ? sluggedName : null,
    group: group ? slug(group) : null,
})
---

<li id={fn.htmlId()}>
    {
        fn.hasContent()
        ? fn.content
        : (
            fn.hasSlug()
            ? 
            :
        )
    }
</li>