---
import { slug } from 'github-slugger'
import { getFootnoteUsageCount } from '#components/footnotes'
import { range } from 'itertools'
import Error from './Error.astro';

interface Props {
    name?: string;
}

const { name } = Astro.props;
const nameSlug = slug(name);
const id = "fn-" + nameSlug;
const href = "#afn-" + nameSlug;
const backlinkCount = getFootnoteUsageCount(nameSlug);
---

<li class="footnote" id={id}>
    {
        backlinkCount === 1
        ? <a class="footnote-link" href={href}>^</a>
        : (
            backlinkCount === 0
            ? <Error>Error: Footnote "{nameSlug}" is unused.</Error>
            : [...range(backlinkCount)].map(i => (
                <><a class="footnote-link" href={href + (i === 0 ? "" : "-" + (i - 1))}>{i + 1}</a> </>
            ))
        )
    } <span class="footnote-note"><slot /></span>
</li>

<style>
    .footnote-link {
        vertical-align: top;
    }
    .footnote:target {
        background-color: #BBBB1144;
    }
</style>