---
import { slug } from 'github-slugger'
//* TODO: show multiple backlinks if the ref is used multiple times on the page

interface Props {
    name?: string;
}

const { name } = Astro.props;
const nameSlug = slug(name);
const id = "fn-" + nameSlug;
const href = "#afn-" + nameSlug;
---

<li class="footnote" id={id}>
    <a class="footnote-name" href={href}>[^]</a> <span class="footnote-note"><slot /></span>
</li>

<style>
    .footnote:target {
        background-color: #BBBB1144;
    }
</style>