---
import { Image } from 'astro:assets';

interface Props {
    id: string,
    name: string,
    color: string,
}

const {id, name, color} = Astro.props;
const img = import(`../img/mud-${id}.png`)
---

<li class:list={[color]}>
    <article class="clearfix">
        <Image
            src={img}
            height="100"
            width="100"
            alt={name}
            class="float-end ms-3"
        />
        <h3>{name}</h3>
        <slot />
    </article>
</li>