---
import Layout from '#layouts/Layout.astro';
---

<script defer type="module">
    import { relexIntoMowaTola, relexIntoTokiPona } from '/ilo-pi-toki-mowa-tola.js'
    const tpTextField = document.getElementById("toki-pona");
    const mtTextField = document.getElementById("mowa-tola");

    document.getElementById("convert-to-mt").addEventListener('click', function (event) {
        mtTextField.value = relexIntoMowaTola(tpTextField.value)
    })
    document.getElementById("convert-to-tp").addEventListener('click', function (event) {
        tpTextField.value = relexIntoTokiPona(mtTextField.value)
    })
</script>
<Layout title="ilo pi toki Mowa Tola | C.Ezra.M">
    <main lang="tok">
        <h1>ilo pi toki <cite>Mowa Tola</cite></h1>

        ilo ni li ante e toki pona tawa <a href="/toki-pona/mowa-tola">toki Mowa Tola</a>.
        
        <form>
            <div class="mb-3">
                <label for="toki-pona" class="form-label">toki pona la</label>
                <textarea id="toki-pona" class="form-control bg-light" rows="5"></textarea>
            </div>
            
            <button class="btn btn-primary" id="convert-to-mt" type="button">o ante e ni ↑ tawa toki <cite>Mowa Tola</cite>!</button> <button class="btn btn-primary" id="convert-to-tp" type="button">o ante e ni ↓ tawa toki pona!</button>

            <div class="mb-3">
                <label for="mowa-tola" class="form-label">toki <cite>Mowa Tola</cite> la</label>
                <textarea id="mowa-tola" class="form-control bg-light" rows="5"></textarea>
            </div>

            <div class="form-text">ilo ni li ante e nimi "ale" e nimi "ali" tawa nimi "siko". ona li ante e nimi "siko" tawa nimi "ale" taso.</div>
            <div class="form-text">ilo ni li ante ala e nimi lon toki pona tawa <a href=".#nimi-majuna">nimi majuna</a>.</div>
        </form>
    </main>
</Layout>