:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
    --bs-body-font-family: "Public Sans", sans-serif;
    --bs-body-bg: #eceac5;
}
html {
    scroll-padding-top: 68px;
}

@font-face {
    font-family: 'sitelen seli kiwen asuki';
    src: url('/sitelenselikiwenasuki.ttf');
}

@font-face {
    font-family: 'nasin nanpa';
    src: url('/nasin-nanpa-4.0.2.otf');
}

@font-face {
    font-family: 'Public Sans';
    src: url('/PublicSans-VariableFont_wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/PublicSans-Italic-VariableFont_wght.ttf');
    font-style: italic;
}

@property --percentage {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --middle-color {
    syntax: "<color>";
    inherits: false;
    initial-value: transparent;
}

.navbar {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;
        li {
            display: flex;
            align-items: center;
            a {
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
    --middle-color: #000000;
    transition: --middle-color 0.25s;
    --percentage: 110%;
    background-image:   linear-gradient(90deg, #000000 calc(var(--percentage) - 9%), var(--middle-color) var(--percentage), #000000 calc(var(--percentage) + 9%)),
                        linear-gradient(45deg, #d6750d 15%, #70c42b 50%, #65ace4 85%);
    animation: navbar-hover 1.5s linear infinite;
    &:hover {
        --middle-color: transparent;
    }
    &::after {
        content: var(--percentage);
        --percentage: inherit;
    }
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 5px 20px;
    height: 60px;
    display: flex;
    align-items: center;
}

@keyframes navbar-hover {
    0% {
        --percentage: -10%;
    }
    100% {
        --percentage: 110%;
    }
}
main {
    margin: 68px auto auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
}
code {
    font-family:
        "JetBrains Mono",
        monospace, serif;
}
pre {
    padding: 0.1rem 0.3rem;
}
blockquote {
    background-color: #eeeeeeaa;
    border-left: 0.3rem solid #996611;
    padding: 0.5rem 1rem;
    > p:last-child {
        margin-bottom: 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

body:not(.ipa-enabled) .ipa {
    display: none;
}

.entry-list {
    list-style: none;
    padding-left: 0;
    > li {
        border-radius: 0.5rem;
        background-color: var(--entry-color);
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
}

em.table-cell-header {
    display: none;
    font-weight: bold;
    font-style: normal;
    &::after {
        content: ': ';
    }
}

.lg-hide {
    display: none;
}

@media screen and (width >= 670px) {
    .lg-hide {
        display: revert;
    }
    .sm-hide {
        display: none;
    }
}

@media screen and (width < 670px) {
    table.responsive-table {
        thead {
            display: none;
        }
        tr {
            display: flex;
            flex-wrap: wrap;
        }
        :is(td, th).full-width {
            flex: 1 1 100%;
        }
        :is(td, th).optional:has(> .information:empty) {
            display: none;
        }
        em.table-cell-header {
            &.block {
                display: block;
            }
            display: inline;
        }
    }
}

a:not(:hover, :active) {
    text-decoration: none;
}

@counter-style mute {
    system: cyclic;
    symbols: "mute";
}

@counter-style simple-pu {
    system: fixed;
    symbols: "wan" "tu";
    suffix: ":  ";
    fallback: mute;
}

.sp {
    font-family: 'sitelen seli kiwen asuki';
    &.inline {
        font-size: larger;
        vertical-align: middle;
    }
    ol {
        list-style-type: simple-pu;
    }
}